<% include header %>





<main>

  <div class="one">

    <div class="photone">
      <img class="logo"src="../img/logo.png" alt=""></div>
    <div class="navi"><% include navigatie %></div>
  </div>
</div>

  <div class="two">

    <div class="ont1">
      <h2 class="onttit">LIVE. Aangename dag naar Bergense normen, overvolle perszaal voor Sagan</h2>
      <img src="../img/segan.jpeg"  class="imgtwo">

    </div>



    <div class="ont2">
      <h2 class="onttit">Noord-Korea: “Raketaanvallen op VS zijn onvermijdelijk”</h2>
      <img src="../img/noordk.jpg" class="imgtwo kor">

    </div>


    <div class="ont3">
      <h2 class="onttit">Protest in Londen tegen verbod op Uber groeit</h2>
      <img src="../img/londen.jpg" class="imgtwo uber">
    </div>


    <div class="ont4">
      <h2 class="onttit">Britse premier May stelt overgangsperiode van twee jaar voor</h2>
      <img src="../img/britse.jpg" class="imgtwo brit">
    </div>



  </div>

  <div class="three">
    <div class="hot">Hot Nieuws</div>
    <div class="news>">
      <h2 class="blaf">Speech van Trump <br>was “hondengeblaf”</h2>
      <h3 class="blaf2">“Hondengeblaf”, zo omschrijft de Noord-Koreaanse minister van Buitenlandse Zaken de speech die VS-president Trump woensdag voor de Verenigde Naties gaf.</h3>
      <img class="sptrump"src="../img/trump.jpg" alt="FOTO: PHOTO NEWS">
      <p class="blaf3">“Als wij of één van onze bondgenoten aangevallen worden, hebben we geen andere keuze, behalve Noord-Korea volledig te vernietigen”, verklaarde Trump woensdag voor de VN. “Rocket Man (Kim Jong-un, red.) is op een zelfmoordmissie voor zichzelf en zijn regime.” De Noord-Koreaanse minister Ri Yong-ho, die vrijdag de Algemene Vergadering van de VN zal toespreken, zei aan journalisten dat hij “medelijden heeft met de medewerkers van Trump”. “Als Trump denkt dat hij ons bang kan maken met het geluid van een blaffende hond, dan is hij aan het dromen”, liet de Noord-Koreaan nog verstaan.</p>

 </div>
  </div>
  <div class="four">
    <div class="insta">
      <a href="#">Instagram</a>
    </div></div>
  <div class="five">
    <div class="twit">
    <a href="#">Twitter</a>
  </div></div>

  <div class="six">
    <div class="fb">
      <a href="#">Facebook</a>
    </div>
  </div>

  <div class="seven">
    <div class="blo">
      <a href="/blog">Blog</a>
          </div>
    </div>


</main>
